In [1]:
from pyspark.sql import SparkSession

In [2]:
# Initialize Spark session
spark = SparkSession.builder \
    .appName("MySQLConnection") \
    .getOrCreate()

In [3]:
# MySQL connection properties
url = "jdbc:mysql://mysql:3306/mysqldb"
table = "exchange_rates"
properties = {
    "user": "mysqluser",
    "password": "Mysql123",
    "driver": "com.mysql.cj.jdbc.Driver"
}

In [4]:
# Read data from MySQL into a Spark DataFrame
df = spark.read.jdbc(url=url, table=table, properties=properties)

In [5]:
# Show the DataFrame
df.show()

+--------+-------------+--------------------+-------------+----------+
|currency|base_currency|       currency_name|exchange_rate|      date|
+--------+-------------+--------------------+-------------+----------+
|   ZWL  |        EUR  |   Zimbabwean Dollar| 344.71677600|2024-05-02|
|   GHS  |        EUR  |       Ghanaian Cedi|  14.66586700|2024-05-02|
|   HRK  |        EUR  |       Croatian Kuna|   7.57966800|2024-05-02|
|   HNL  |        EUR  |    Honduran Lempira|  26.45874800|2024-05-02|
|   HKD  |        EUR  |    Hong Kong Dollar|   8.36705800|2024-05-02|
|   GYD  |        EUR  |    Guyanaese Dollar| 224.15953200|2024-05-02|
|   GTQ  |        EUR  |  Guatemalan Quetzal|   8.32357900|2024-05-02|
|   GNF  |        EUR  |       Guinean Franc|9204.02548500|2024-05-02|
|   GMD  |        EUR  |      Gambian Dalasi|  72.52947400|2024-05-02|
|   GIP  |        EUR  |     Gibraltar Pound|   0.85939700|2024-05-02|
|   GGP  |        EUR  |      Guernsey Pound|   0.85939700|2024-05-02|
|   DOP  |        EUR  |      Dominican Peso|  62.25265600|2024-05-02|
|   GEL  |        EUR  |       Georgian Lari|   2.86374300|2024-05-02|
|   GBP  |        EUR  |British Pound Ste...|   0.85595900|2024-05-02|
|   FKP  |        EUR  |Falkland Islands ...|   0.85939700|2024-05-02|
|   FJD  |        EUR  |       Fijian Dollar|   2.41832000|2024-05-02|
|   EUR  |        EUR  |                Euro|   1.00000000|2024-05-02|
|   ETB  |        EUR  |      Ethiopian Birr|  61.99712800|2024-05-02|
|   ERN  |        EUR  |      Eritrean Nakfa|  16.05825500|2024-05-02|
|   EGP  |        EUR  |      Egyptian Pound|  51.33439100|2024-05-02|
+--------+-------------+--------------------+-------------+----------+
only showing top 20 rows

In [6]:
# Write DataFrame to MySQL
df.write.jdbc(url=url, table="processed_table", mode="overwrite", properties=properties)